*.bam
*.bai
*.bcf
*.bed
*.bg
*.bedgraph
*.bw
*.bigwig
*.faa
*.fastq
*.fasta
*.fa
*.fai
*.fna
*.fq
*.fra
*.gff*
*.gtf
*.gz
*.h5
*.sam
*.seq
*.tgz
*.tbz
*.tbz2
*.vcf
*.csv
*.DS*
._*
*data*
week8/week8_export/output
week8/week8_export/raw
week8/week8_export/runChicago.R
*.tar.gz
